@charset "UTF-8";

/*
 Theme Name:     gendalus
 Theme URI:      http://gendalus.de/twenty-thirteen-child/
 Description:    gendalus theme, based on Twenty Thirteen
 Author:         gendalus
 Author URI:     http://gendalus.de
 Template:       twentythirteen
 Version:        1.1
*/

/* =Imports styles from the parent theme
-------------------------------------------------------------- */
@import url('../twentythirteen/style.css');


/* =Theme customization starts here
-------------------------------------------------------------- */

a {
	color: #007aff;
}

a:visited {
	color: #007aff;
}

a:hover {
	color: #007aff;
	text-decoration: underline;
}

.format-aside {
	background-color: #ffffff;
}

blockquote {
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	margin: 24px 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "Helvetica Neue Ultralight", "HelveticaNeue-Ultralight";
	line-height: 1.3;
	font-weight: normal;
}


.site-title {
	font-size: 60px;
	font-weight: normal;
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light";
	line-height: 1;
	margin: 0;
	padding: 58px 0 10px;
}

.site-description {
	font-weight: 300;
	font-family: "Helvetica Neue Ultralight", "HelveticaNeue-Ultralight";
	margin: 0;
}

.entry-meta a:hover{
	color: #007aff;
}

.entry-meta a{
	color: #007aff;
}

.entry-content a,
.comment-content a {
	color: #007aff;
}

.entry-content a:hover,
.comment-content a:hover {
	color: #007aff;
}

.entry-title a {
	color: #007aff;
	text-decoration: none;
}

.entry-title a:hover {
	color: #007aff;
	text-decoration: underline;
}

.archive-header {
	background-color: transparent;
}

.archive-title,
.archive-meta {
	font-weight: 300;
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light";
	font-style: normal;
	font-size: 30px;
	margin: 0 auto;
	max-width: 1040px;
	padding: 30px 0;
	width: 100%;
}

.comment-respond {
	background-color: transparent;
	padding: 30px 0;
}

.comment-reply-title {
	font-weight: 300;
	font-family: "Helvetica Neue Ultralight", "HelveticaNeue-Ultralight";
	font-style: normal;
	font-size: 35px;
}

.comment-meta,
.comment-meta a {
	color: #007aff;
	font-size: 13px;
}

.comment-meta a:hover {
	color: #007aff;
	text-decoration: underline;
}

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login {
	color: #007aff;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}


.navigation a {
	color: #007aff;
}

.navigation a:hover {
	color: #007aff;
	text-decoration: underline;
}

.navbar {
	background-color: transparent;
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
	color: #007aff;
	font-style: italic;
}

.nav-menu li:hover > a,
.nav-menu li a:hover {
	background-color: transparent;
	color: #007aff;
	text-decoration: underline;
}

.paging-navigation {
	background-color: transparent;
}


.paging-navigation .meta-nav {
	background-color: transparent;
	border-radius: 0px;
	color: #007aff;
	display: inline-block;
	font-size: 26px;
	padding: 3px 0 8px;
	text-align: center;
	width: 50px;
}

.paging-navigation a:hover .meta-nav {
	background-color: transparent;
	text-decoration: none;
}

.site-footer {
	background-color: transparent;
	font-size: 14px;
	text-align: center;
}

.site-footer .sidebar-container {
	background-color: transparent;
	padding: 20px 0;
}

.site-footer .widget a {
	color: #007aff;
}

.site-footer .widget-title,
.site-footer .widget-title a,
.site-footer .wp-caption-text {
	color: #000;
	font-style: normal;
	font-size: 30px;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: transparent;
	border: none;
	border-bottom: none;
	border-radius: 0px;
	color: #007aff;
	display: inline-block;
	padding: 0px;
	font-size: 25px;
	text-decoration: none;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	background: transparent;
	outline: none;
	text-decoration: underline;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	background: transparent;
	border: none;
	border-top: none;
	padding: 0px;
}

.tumblr_post p {
	margin-bottom: 0px;
}

.tumblr_post blockquote {
	display: none;
}

.format-video {
	background-color: #fff;
}

.format-video .entry-content a,
.format-video .entry-meta a,
.format-video .entry-content a:hover,
.format-video .entry-meta a:hover {
	color: #007aff;
}

.format-video .entry-title {
	font-size: 50px;
	font-weight: 400;
}

.format-video .entry-meta {
	color: #007aff;
}

.format-audio {
	background-color: #fff;
}

.format-link{
	background-color: #fff;
}

.format-link .entry-title{
	color: #007aff;
	font: 50px "Helvetica Neue Ultralight", "HelveticaNeue-Ultralight", Helvetica, sans-serif;
}

.format-link .entry-title a{
	color: #007aff;
}

.format-audio .entry-content a,
.format-audio .entry-meta a,
.format-audio .entry-content a:hover,
.format-audio .entry-meta a:hover {
	color: #007aff;
}

.format-audio .entry-title{
	font-size: 50px;
	font-weight: 400;
}

html,
button,
input,
select,
textarea {
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light";
}

@media (max-width: 643px) {
	.entry-title,
	.format-chat .entry-title,
	.format-image .entry-title,
	.format-gallery .entry-title,
	.format-video .entry-title {
		font-size: 40px;
		font-weight: normal;
	}
}